button
{
	padding: 1em 1em;
	border-radius: 8px;
	border: 0 transparent;
	font-weight: bold;
}

button:hover
{
	background-color: var(--mainQuaternary);
	color: var(--mainBG);
}

.button-previous
{
	float: left;
}

.button-next
{
	float: right;
}