:root {
	--mainBG: #FFFFFF;
	--mainFG: #005588;
	--mainSecondary: #FF9900;
	--mainTertiary: #FFCC00;
	--mainQuaternary: #001321;
}

body {
	padding: 0;
	margin: 0;

	font-family: sans-serif;
	font-size: 1em;

	line-height: 1.5em;
	color: var(--mainFG);
	background-color: var(--mainBG);
}

.content {
	color: unset;
}

.content section {
	color: black;
	background-color: hsl(1, 0%, 97%);
	border-radius: 8px;
	border: 1px solid #C0C0C0;
	padding: 1em;
}

.no-decoration {
	text-decoration: unset;
	color: unset;
	background-color: unset;
}

a, a:visited {
	color: var(--mainSecondary);
}

a:hover {
	color: var(--mainTertiary);
}

header
{
	background-color: var(--mainFG);
	color: var(--mainBG);
}

footer {
	color: var(--mainBG);
	background-color: var(--mainQuaternary);
	position: relative;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
footer div {
	max-width: 320px;
	width: 100%;
	min-width: 280px;
	padding: 16px;
}

footer a {
	display: block;
}

.padding_16 {
	padding: 16px;
}

.logo {
	display: inline-block;
	height: 32px;
	width: auto;

}