/*.slidecontainer {*/
/*	display: flex;*/
/*	width: 200px;*/
/*}*/

.slider {
	-webkit-appearance: none;
	display: flex;
	width: 100%;
	max-width: 320px;
	height: 28px;
	background: hsl(205, 10%, 90%);
	border-radius: 5px;
	outline: none;
	opacity: 0.667;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 32px;
	height: 32px;
	background: var(--mainFG);
	cursor: pointer;
	border-radius: 50%;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: var(--mainFG);
	cursor: pointer;
}