<template name="mainBody">
	<div class="content padding_16">
		{{#if activeDoc}}
			{{#if isActiveDocMarkdown}}
				<hr>
				<section>
					{{#markdown}}{{activeDoc.body}}{{/markdown}}
				</section>
				<hr>
			{{/if}}
			<h1>{{activeDoc.title}}</h1>

			{{#unless shouldNotRenderDoc}}
				<section>
					{{{activeDoc.body}}}
				</section>
				<br/>
			{{/unless}}

			{{#unless shouldNotRenderCode}}
				<section>
					<pre><code>{{activeDoc.body}}</code></pre>
				</section>
			{{/unless}}

			{{#if shouldRenderImage}}
				<div style="padding: inherit; background: white">
					<img src="./{{activeDoc.path}}" alt="{{activeDoc.alt}}">
				</div>
				<br/>
				<div style="padding: inherit; background: black">
					<img src="./{{activeDoc.path}}" alt="{{activeDoc.alt}}">
				</div>
				<a href="./{{activeDoc.path}}" target="_blank">View Full Size</a>
			{{/if}}
			<p>
				<a href="./{{activeDoc.path}}" target="_blank">{{activeDoc.path}}</a>
			</p>
			<hr>
		{{/if}}
		{{#each docs}}
			<div class="js-readMore container" data-title="{{title}}" data-path="{{path}}">
				<h4>{{title}}</h4>
				<p>
					<i>{{path}}</i>
				</p>
			</div>
		{{/each}}

	</div>
</template>
