<template name="mainBody">
	<div class="content padding_16">
		{{#if activeDoc}}
			<h1>{{activeDoc.title}}</h1>

			<section>
				{{{activeDoc.body}}}
			</section>
			<br/>
			<section>
				<pre><code>{{activeDoc.body}}</code></pre>
			</section>
			<p>
				<i>{{activeDoc.path}}</i>
			</p>
			<hr>
		{{/if}}
		{{#each docs}}
			<div class="js-readMore" data-title="{{title}}" data-path="{{path}}">
				<h4>{{title}}</h4>
				<p>
					<i>{{path}}</i>
				</p>
			</div>
		{{/each}}

	</div>
</template>
