<template name="mainBody">
	<div class="content padding_16">
		{{#if showGame}}
			{{> game}}
			<button class="hideGameButton">
				hide Game
			</button>
		{{else}}

			<button class="reduceStep">
				PREV
			</button>
			{{stepper}}
			<button class="increaseStep">
				NEXT
			</button>
			{{#if stepper}}
				{{# stepper step=stepper}}
					{{> UI.contentBlock}}
				{{/ stepper}}

			{{else}}
				<button class="showGameButton">
					Show Game
				</button>
			{{/if}}
		{{/if}}
	</div>
</template>
