<template name="zbeyerFooter">
	<footer>
		<div>{{> ZbeyerLinks}}</div>
		<div>{{> ZbeyerContact}}</div>
	</footer>
</template>

<template name="ZbeyerLinks">
	<div>
		<h4>Github repositories:</h4>
		<a href="https://github.com/Zbeyer/zbeyer-2023" target="_blank">This Project</a>
		<a href="https://github.com/Zbeyer/BearPoke" target="_blank">Don't Poke the Bear</a>
		<a href="https://github.com/Zbeyer/node" target="_blank">Node</a>
	</div>
</template>

<template name="ZbeyerContact">
	<div>
		<h4>Contact Information</h4>
		<a href="tel:6084452470"><span>Phone: </span> (608)&nbsp;445&#8209;2470</a>
		<a href="mailto:zacharydbeyer@gmail.com"><span> Email: </span>Zacharydbeyer@gmail.com</a>
	</div>
	<div>
		<i>
			I have a simple rule I let calls go to voice mail
			(anything worth saying is worth leaving a voice mail)
		</i>
	</div>
</template>
